* ::before, ::after{
    margin-top: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.background{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 5%;
}
.background img{
    width: 65px;
    height: 65px;
    margin-top:14%;
}
.background h1{
    font-size: 40px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 75px;
    margin-bottom:-25px ;
    
}
.background p{
    font-size: 12px;
    color: white;
    font-weight: 800;
    margin-top: 20px;
}
.background #mouse{
    margin-top: 10%;
    width: 20px;
    height: 40px;
}
#mouse{
    animation: shakeY 2s infinite;
}
.about{
    text-align: center;
    margin-top: 3%;
}
.about h1{
    font-size: 30px;
    color: #202020;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}
.about p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 40px;
}
.background2{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 5%;
    padding: 10%;
}
.background2 h1{
    font-size: 28px;
    color: white;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.background2 p{
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    line-height: 40px;
}
.what-we-do{
    margin-top: 3%;
    line-height: 50px;
}
.what-we-do h1{
    font-size: 28px;
    color: #202020;
    margin-bottom: 3%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.what-we-do .title{
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-align: center;
}
.what-we-do p{
    line-height:normal;
}
#design,#development,#product{
    display: none;
    cursor: pointer;
}
.img-design,.img-development,.img-product{
    cursor: pointer;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5%;
    margin-left:10%;
    margin-right: 16%; 
    width: 80%;
}
.portfolio img{
    max-width: 100%;
    max-height: 100%;
    margin:15px;
}
.portfolio h1{
    margin-bottom: 3%;
    font-size: 30px;
    color: #202020;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
footer{
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5%;
    margin-top: 4%;
}
.form-group input[type=text]{
    background:transparent!important;
    color: white;
    border: 1px solid white;
    width: 400px;
    height: 40px;
    margin-left: 15%;
}
.form-group input[type=email]{
    background:transparent!important;
    color: white;
    border: 1px solid white;
    width: 400px;
    height: 40px;
    margin-left: 3%;
}
.form-group ::placeholder{
    color: white;
}
#textarea{
    background:transparent!important;
    color: white;
    border: 1px solid white;
    width: 74%;
    margin-left: 15%;


}
footer h1{
    margin-bottom: 4%;
    font-size: 35px;
    color: white;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
footer button{
    outline: none;
    border-radius: 20px;
}
.social{
    margin-top: 3%;
}
.social img{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.social p{
    font-size: 10px;
    color: black;
}
#layer1,#layer2,#layer3,#layer4,#layer5,#layer6,#layer7,#layer8{
    display: none;
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    background-color: rgba(233, 233, 233, 0.6);
    top: 15px;
    left: 30px;
    padding-top: 80px;
    width: 89%!important;
    height: 89%!important;
}



