* ::before, ::after{
    margin-top: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.background{
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 5%;
}
.background img{
    width: 65px;
    height: 65px;
    margin-top:16%;
}
.background h1{
    font-size: 40px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 75px;
    margin-bottom:-25px ;
    
}
.background p{
    font-size: 12px;
    color: white;
    font-weight: 800;
    margin-top: 20px;
}
.background #mouse{
    margin-top: 10%;
    width: 15px;
    height: 30px;
}
#mouse{
    animation: shakeY 2s infinite;
    cursor: pointer;
}
.about{
    text-align: center;
    margin-top: 3%;
}
.about h1{
    font-size: 30px;
    color: #202020;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}
.about p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 40px;
}
.background2{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 5%;
    padding: 10%;
}
.background2 h1{
    font-size: 28px;
    color: white;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.background2 p{
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    line-height: 40px;
}
.what-we-do{
    margin-top: 3%;
    line-height: 50px;
    
}
.what-we-do h1{
    font-size: 28px;
    color: #202020;
    margin-bottom: 3%;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 6%;
    margin-left:10%;
    margin-right: 16%; 
    width: 80%;
}
.portfolio img{
    max-width: 100%;
    max-height: 100%;
    margin:10px
}
.portfolio h1{
    margin-bottom: 4%;
    font-size: 30px;
    color: #202020;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
footer{
    background-image: url("../assets/backgrounds/c_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5%;
    margin-top: 4%;
}
.form-group input[type=text]{
    background:transparent!important;
    color: white;
    border: 1px solid white;
    width: 400px;
    height: 30px;
}
.form-group input[type=email]{
    background:transparent!important;
    color: white;
    border: 1px solid white;
    width: 400px;
    height: 30px;
    margin-left: 40px;
}
.form-group ::placeholder{
    color: white;
}

#textarea{
    background:transparent!important;
    color: white;
    border: 1px solid white;
    width: 80%;
    margin-left: 5%;


}
footer h1{
    margin-bottom: 4%;
    font-size: 35px;
    color: white;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
footer button{
    outline: none;
    border-radius: 20px;
}
.social{
    margin-top: 3%;
}
.social img{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.social p{
    font-size: 13px;
    color: black;
}